/* -----
    Initialize
----- */

:root {
  /* Colors */

  --rich-black-fogra-29: hsl(210, 26%, 7%);
  --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
  --independence_30: hsla(245, 17%, 29%, 0.3);
  --gray-x-11-gray: hsl(0, 0%, 73%);
  --champagne-pink: hsl(23, 61%, 86%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --deep-saffron: hsl(32, 100%, 59%);
  --dark-orange: hsl(28, 100%, 58%);
  --desert-sand: hsl(23, 49%, 82%);
  --isabelline: hsl(38, 44%, 96%);
  --gainsboro: hsl(0, 0%, 87%);
  --tangerine: hsl(31, 84%, 50%);
  --cinnabar: hsl(3, 90%, 55%);
  --black_95: hsla(0, 0%, 0%, 0.95);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /* Typography */

  --ff-shadows-into-light: "Shadows Into Light", cursive;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik: "Rubik", sans-serif;

  --fs-1: 3.2rem;
  --fs-2: 2.2rem;
  --fs-3: 1.8rem;
  --fs-4: 1.4rem;
  --fs-5: 1.2rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Spacing */
  --section-padding: 60px;

  /* Shadow */
  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0 1px 2px hsla(0, 0%, 0%, 0.2);

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;

  /* Clip path */
  --clip-path-1: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
  --clip-path-2: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: var(--ff-roboto);
  width: 100%;
}

button {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 90vw;
  margin: auto;
}

.accent {
  color: var(--deep-saffron);
}

/* -----
    Header
----- */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-block-end: 1px solid var(--champagne-pink_20);
  z-index: 5;
  --color: var(--white);
  --btn-color: var(--white);
}

nav.change-color {
  --color: var(--black);
  --btn-color: var(--black);
}

nav > .container {
  padding: 10px 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--ff-rubik);
  letter-spacing: -0.1ch;
}

.logo-a {
  text-decoration: none;
  color: var(--color);
  font-size: var(--fs-3);
}

.logo > a > span {
  color: var(--deep-saffron);
}

.nav-btn-group {
  display: flex;
  gap: 0.5rem;
}

.line-top,
.line-middle,
.line-bottom {
  display: block;
  background-color: var(--btn-color);
  margin: 5px;
  border-radius: 10px;
  transition: var(--transition-1);
}

.line-top {
  width: 10px;
  height: 3px;
}

.line-middle {
  width: 20px;
  height: 3px;
}

.line-bottom {
  width: 10px;
  height: 3px;
  transform: translateX(10px);
}

.line-top.active {
  transform: rotate(45deg) translate(3.5px, 2px);
}

.line-middle.active {
  transform: rotate(-45deg);
}

.line-bottom.active {
  transform: rotate(45deg) translate(3.3px, -9px);
}

.search-icon {
  color: var(--color);
  font-size: 1.5rem;
  margin: auto;
  cursor: pointer;
}

.reservation-btn {
  background-color: var(--deep-saffron);
  padding: 10px 20px;
  border-radius: --;
  color: var(--white);
  font-weight: var(--fw-700);
  display: none;
}

.navbar-mobile {
  visibility: hidden;
  background-color: var(--white);
  margin: auto;
  width: 85vw;
  height: 0px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  transition: var(--transition-1);
  z-index: 2;
  box-shadow: var(--shadow-1);
}

.navbar-mobile.active {
  visibility: visible;
  height: 245px;
}

.nav-links {
  position: relative;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-links.active {
  display: block;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 20px;
}

.nav-li > a {
  text-decoration: none;
  color: var(--black);
  padding: 0px 10px;
  font-weight: var(--fw-500);
  font-size: 0.9em;
}

.nav-hr {
  width: 100%;
  border: 1px solid var(--champagne-pink_20);
}

nav.fixed-top {
  position: fixed;
  background-color: var(--white);
  top: -91px;
  width: 100%;
  animation: slideIn 0.5s ease-out forwards;
  box-shadow: var(--shadow-2);
}

@keyframes slideIn {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* -----
    Hero
----- */

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: inline-block;
  z-index: -1;
}

.hero > .container {
  max-width: 400px;
  height: 100%;
  margin: auto;
}

.hero-content {
  position: relative;
  top: 125px;
  text-align: center;
}

.hero-content > h3 {
  color: var(--dark-orange);
  font-family: var(--ff-shadows-into-light);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.hero-content > h1 {
  color: var(--champagne-pink);
  font-size: var(--fs-3);
  max-width: 10em;
  margin: auto;
}

.hero-content > p {
  color: var(--champagne-pink);
  margin-top: 30px;
}

.book-a-table-btn {
  padding: 15px 30px;
  background-color: var(--deep-saffron);
  color: var(--white);
  font-weight: var(--fw-700);
  margin-top: 2em;
}

/* -----
    Promo
----- */

.promo {
  background-color: var(--isabelline);
  padding-top: 60px;
}

.meals-slider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-bottom: 40px;
}

.meals-slider::-webkit-scrollbar {
  height: 10px;
}

.meals-slider::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.meals-slider::-webkit-scrollbar-track {
  outline: 2px solid var(--deep-saffron);
  background-color: var(--cultured);
  border-radius: 50px;
}

.meals-slider::-webkit-scrollbar-thumb {
  background-color: var(--deep-saffron);
  border: 3px solid var(--cultured);
  border-radius: 50px;
}

.meals-slider-card {
  background-color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  box-shadow: var(--shadow-2);
  position: relative;
  overflow: hidden;
}

.meals-slider-card-content {
  padding: 40px;
  overflow: hidden;
  position: relative;
}

.meal-title {
  font-weight: var(--fw-600);
}

.meal-info {
  color: var(--sonic-silver);
  line-height: 1.5em;
  margin-top: unset;
  margin-bottom: 15px;
}

.card-meal-img {
  position: inherit;
  z-index: 2;
}

.meal-title,
.meal-info,
svg,
.meal-icon {
  z-index: 2;
  position: inherit;
  transition: var(--transition-1);
}

.meals-slider-card-shape {
  background-color: var(--deep-saffron);
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 120%;
  bottom: 0px;
  left: 0px;
  transform: rotate(-10deg) translateY(60px) translateX(-40px);
  transition: var(--transition-1);
}

.meals-slider-card-content:hover {
  .meals-slider-card-shape {
    height: 100%;
    width: 100%;
    transform: unset;
  }
  .meal-icon {
    fill: var(--white);
  }
  .meal-info,
  .meal-title {
    color: var(--white);
  }
}

.promo-end-shape {
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 15px;
  width: 100%;
  z-index: 1;
}

/* -----
    About
----- */

.about {
  text-align: center;
  margin-block-start: 60px;
}

.discount-image {
  position: relative;
}

.about-meal-img {
  max-width: 100%;
}

.about-discount-img {
  position: absolute;
  width: 225px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 1s linear infinite alternate;
  top: 0;
}

@keyframes bounce {
  0% {
    width: 225px;
  }
  100% {
    width: 220px;
  }
}

.about-info {
  margin-block-start: 40px;
}

.about-info > h1 {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  margin-block-end: 0px;
}

.about-info > h1 > span {
  color: var(--deep-saffron);
}

.about-info > p {
  color: var(--sonic-silver);
  line-height: 2.5ch;
}

.about-ul {
  list-style: none;
  padding: 0;
  margin-inline: auto;
}

.about-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-block: 5px;
  font-weight: var(--fw-500);
}

.about-li > ion-icon {
  border-radius: 50%;
  padding: 3px;
  color: var(--white);
  font-size: 0.9em;

  background-color: var(--deep-saffron);
  --ionicon-stroke-width: 70px;
}

.about-button {
  background-color: var(--deep-saffron);
  color: var(--white);
  font-weight: var(--fw-600);
  padding: 15px 30px;
  margin-block: 10px 40px;
}

/* -----
    Menu
----- */

.menu {
  background-color: var(--isabelline);
  text-align: center;
  padding-block-end: 60px;
}

.menu-start-shape {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 15px;
  width: 100%;
  z-index: 1;
  transform: rotate(180deg);
}

.menu-info {
  margin-block-start: 60px;
}

.menu-info > p:nth-child(1) {
  color: var(--cinnabar);
  font-weight: var(--fw-500);
}

.menu-info > h3 {
  font-size: var(--fs-3);
  margin-block: 0px 20px;
}

.menu-info > h3 > span {
  color: var(--deep-saffron);
}

.menu-info > p:nth-child(3) {
  color: var(--sonic-silver);
  margin-block-start: 0px;
}

.menu-categories {
  margin-block: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.categorie-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: var(--fw-600);
  background-color: var(--white);
  border: 1px solid var(--border-color, var(--cultured));
}

.categorie-btn.active {
  color: var(--white);
  background-color: var(--deep-saffron);
  border: 1px solid --deep-saffron;
}

.menu-dishes {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}

.dish-card {
  background-color: var(--white);
  padding: 20px 40px;
  box-shadow: var(--shadow-2);
}

.dish-discount {
  position: relative;
  margin-block-start: 20px;
}

.dish-discount > p {
  margin: 0px;
  background-color: var(--cinnabar);
  position: absolute;
  top: 0;
  color: var(--white);
  font-weight: var(--fw-600);
  font-size: 0.8rem;
  padding: 4px 12px;
}

.dish-discount > img {
  margin-block-start: 30px;
}

.categorie-ranking {
  margin-block-start: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.categorie-ranking > p {
  color: var(--sonic-silver);
  font-weight: 600;
}

.rating {
  color: var(--deep-saffron);
  transform: translateY(1px);
}

.dish-card > h5 {
  font-size: var(--fs-4);
  letter-spacing: -0.5px;
  margin: 0px;
}

.dish-pricing {
  font-weight: var(--fw-600);
  color: var(--cinnabar);
}

.dish-discount-price {
  color: var(--deep-saffron);
  margin-inline-start: 5px;
}

.dish-price {
  color: var(--gray-x-11-gray);
}

/* -----
    CTA
----- */

.cta {
  color: var(--white);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding-block-end: 40px;
}

.cta-content {
  margin-block-start: 60px;
}

.cta-content > h1 {
  font-size: var(--fs-3);
}

.cta-content > p {
  margin-block-start: 40px;
  color: var(--gainsboro);
  line-height: 2.7ch;
}

.cta-content > button {
  margin-block-start: 10px;
  background-color: var(--deep-saffron);
  color: var(--white);
  padding: 15px 35px;
  font-weight: var(--fw-600);
}

.cta-img {
  position: relative;
}

.cta-burger {
  width: 100%;
  transform: scale(1.3) translateY(50px);
  z-index: 1;
}

.cta-discount {
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
  z-index: 2;
  animation: bounce 1s linear infinite alternate;
}
